$mainColor: rgb(80, 88, 199);
$fontColor: rgb(255,255,255);
$detailColor: rgb(247, 133, 177);
$accentColor: rgb(9, 9, 95);
$backGradient: linear-gradient(4deg, rgb(245,129,178) 1%, rgba(85,157,210,1) 100%);

.main {
    padding: 2em;
    background: rgb(130, 210, 224);
    overflow: auto;
    width: 100%;
}  

.main__container {
    font-weight: bold;
	padding: 10px;
	background: rgb(174, 215, 248);
	border: 1px solid rgb(22, 58, 94);
    width: 200px;
    color: rgb(22, 58, 94);
    font-size: 20px;
}
