.main {
	padding: 2em;
	background: rgb(130, 210, 224);
	overflow: auto;
	width: 100%;
}

.main__container {
	font-weight: bold;
	padding: 10px;
	background: rgb(174, 215, 248);
	border: 1px solid rgb(22, 58, 94);
	width: 200px;
	color: rgb(22, 58, 94);
	font-size: 20px;
}
