$mainColor: rgb(80, 88, 199);
$fontColor: rgb(255,255,255);
$detailColor: rgb(247, 133, 177);
$accentColor: rgb(9, 9, 95);
$backGradient: linear-gradient(4deg, rgba(85,157,210,1) 1%, rgb(245,129,178) 100%);

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background:  linear-gradient(90deg, rgba(118,118,120,1) 0%, rgba(85,157,210,1) 100%) ;
    border-bottom: 1px solid white;
    color: $detailColor;
    position: fixed;
    top: 0; 
    width: 100%; 
}

.header__promo{
    font-size: 25px;
    font-weight: 800;
   // cursor: pointer;
    color: $accentColor;
}

.header__button{
    color: $accentColor;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: $fontColor;
    font-weight: 600;
    line-height: 30px;
    cursor: pointer;
    margin-right: 20px;

    &:hover {
       // color: $accentColor;
        text-decoration: underline;
    }
} 

.header__logo{
    height: 30px;
} 

a {
    text-decoration: none;

    &:hover{
        text-decoration: underline;
        color: $detailColor;
    }
}
