$mainColor: rgb(80, 88, 199);
$fontColor: rgb(255,255,255);
$detailColor: rgb(247, 133, 177);
$accentColor: rgb(9, 9, 95);
$backGradient: linear-gradient(4deg, rgba(85,157,210,1) 1%, rgb(245,129,178) 100%);

 
 /*.card__container {
    position: absolute; 
    width: 80vw;
    height:70vh;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid $detailColor;
    background-color: $mainColor;
    margin-top: -50px;
    padding: 2em;
    border-radius: 5px;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 8px;
        border-radius: 10px;
        border: 1px solid $fontColor;
        background-color:$fontColor ;
        margin-top: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $mainColor;
        border-radius: 10px;
        border: 1px solid $fontColor;
    } 
} 

.cardGallery{
    width: 50vw;
    height: 50vh;
    border: 1px solid red;
    position: absolute;
    right: 0;
    top: 130px;
}
*/

.errorinput{
    border: 2px solid red;
}   

.loading{
    margin: 230px;
    text-align: center;
}

.newword-form{
    width: 300px;
    height: 150px;
    margin: 200px 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}