$mainColor: rgb(90, 98, 197);
$fontColor: rgb(255,255,255);
$detailColor: rgb(247, 133, 177);
$accentColor: rgb(9, 9, 95);
$backGradient: linear-gradient(4deg, rgba(85,157,210,1) 1%, rgb(245,129,178) 100%);

.table__text {
	padding: 10px 15px 10px;
    background:rgb(7, 77, 146);
    color:rgb(174, 215, 248);
    width: 200px;
    font-size: 18px;  
}

.table__button {
	padding: 10px;
    background: rgb(22, 58, 94);
    width: 200px;
    margin: 10px;
}

.table__button-btn{
    border: 2px solid white;
	padding: 6px;
    color: rgb(22, 58, 94);
    background: rgb(2, 199, 156);
    border-radius: 15px;
    margin: 0px 15px;
    width: 70px;
    cursor: pointer;
    font-weight: 800;
}