.hero-card{
    display: inline-block;
    width: 45vw;
    height: 500px;
    margin: 10px;
    justify-content: flex-start;
}

.hero-name{
    font-weight: bolder;
}

.hero-alterEgo{
    font-weight: bold;
}

img{
    height: 250px;
    width: 350px;
}

form {
    width: 300px;
    height: 150px;
    margin: 200px 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .fadeIn {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  
  input[type=text]:placeholder {
    color: #cccccc;
  }

  .btn  {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;}